---
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import { config } from '../libs/siteConfig.ts'
interface Props {
	title: string
	image: ImageMetadata
	altImage?: string
	category?: string
	url: string
}

const { title, image, altImage, category, url } = Astro.props

const categories = await getCollection('categories')
const categorieIndex = categories.findIndex((el) => el.data.title === category)
const color = config.categoriesColors[Math.abs(categorieIndex) % config.categoriesColors.length].fg
---

<article class="grid max-w-xs gap-2 rounded-3xl border-2 border-black bg-white p-2 sm:max-w-sm">
	<a
		href={url}
		class="group relative aspect-video w-full overflow-hidden rounded-xl border-2 border-black bg-gray-100"
		{title}
	>
		<Image
			src={image}
			class="h-full w-full object-cover transition-transform duration-500 group-hover:scale-110"
			alt={altImage ?? ''}
			width={400}
		/>
		{
			category && (
				<span
					class="absolute left-4 top-2 rounded-full border-2 border-black bg-white px-3 py-1 font-display"
					class:list={[color]}
				>
					{category}
				</span>
			)
		}
	</a>

	<a href={url} class="group flex h-20 items-center" {title}>
		<h2
			class="group-hover:text-links-500 line-clamp-2 font-display text-2xl transition-colors sm:text-3xl"
		>
			{title}
		</h2>
	</a>
</article>
