---
import { Image } from 'astro:assets'
import { createPlaceHolder } from '../libs/createPlaceHolder.ts'
interface Props {
	title: string
	image: ImageMetadata
	altImage?: string
	category?: string
	url: string
}

const { title, image, altImage, category, url } = Astro.props

const placeHolder = await createPlaceHolder(image)
---

<article class="grid max-w-xs gap-2 rounded-3xl border-2 border-black bg-white p-2 sm:max-w-sm">
	<a
		href={url}
		class="group relative aspect-video w-full overflow-hidden rounded-2xl border-2 border-black bg-gray-100"
		{title}
	>
		<Image
			src={image}
			class="h-full w-full bg-cover bg-no-repeat object-cover transition-transform duration-500 group-hover:scale-110"
			alt={altImage ?? ''}
			width={400}
			style={`background-image:url("${placeHolder.src}")`}
		/>
		{
			category && (
				<span class="absolute left-4 top-2 rounded-full border-2 border-black bg-white px-3 py-1 font-display">
					{category}
				</span>
			)
		}
	</a>

	<a href={url} class="group flex h-20 items-center" {title}>
		<h2
			class="line-clamp-2 font-display text-2xl transition-colors group-hover:text-links-500 sm:text-3xl"
		>
			{title}
		</h2>
	</a>
</article>
