---
import { Image } from 'astro:assets'
import { createPlaceHolder } from '../libs/createPlaceHolder.ts'
interface Props {
	image?: ImageMetadata | undefined
	title?: string | undefined
	author?: string | undefined
	other?: string | undefined
	index: number
	total: number
}

const { index, image, title, author, other, total } = Astro.props
const placeHolder = image && (await createPlaceHolder(image))
---

<section
	id={index.toString()}
	class="relative flex h-screen w-screen flex-none snap-center flex-col gap-2 bg-primary-950 p-4"
>
	{
		image && (
			<figure class="relative grid h-full w-full place-content-center overflow-auto">
				<Image
					src={image}
					alt={title ?? ''}
					width={900}
					class=" h-auto max-h-full w-auto max-w-full overflow-auto bg-cover bg-no-repeat "
					style={`background-image:url("${placeHolder?.src}")`}
				/>
			</figure>
		)
	}
	{
		(title || author || other) && (
			<figcaption class=" max-w-[30ch] self-end  text-white md:text-lg ">
				{author && <span>{author}</span>}
				{title && <span class="italic ">{title}</span>}
				{other && <span>{other}</span>}
			</figcaption>
		)
	}
	{
		index > 0 && (
			<a
				href={`#${index - 1}`}
				aria-label="précédent"
				class="absolute left-8 top-1/2 text-white/60 hover:text-white focus:text-white"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="h-6 w-6"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"
					/>
				</svg>
			</a>
		)
	}
	{
		index < total - 1 && (
			<a
				href={`#${index + 1}`}
				aria-label="suivant"
				class="absolute right-8 top-1/2 text-white/60 hover:text-white focus:text-white"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="h-6 w-6"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"
					/>
				</svg>
			</a>
		)
	}
</section>

<style>
	figcaption span:not(:last-child)::after {
		content: ', ';
	}
</style>
